*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--background);
}
html{
    scroll-behavior:smooth;
}
:root{
    --primary:#FF7400;
    --secondary:#a7a7a7;

    --background:#080808;   
    --background-sec:#262626;
    --white:#fff;

    --grid-width:1920px;

    --btn-radius:6px;
    --btn-menu-h:3px;
    --burger-rotate:43deg;
}
body{
    background-color:var(--background);
    color:var(--white);
    font-size: 18px;
}
.flex{
    display: flex;
}
.flex.ai-c{
    align-items: center;
}
.flex.jc-c{
    justify-content: center;
}
.flex.jc-sb{
    justify-content: space-between;
}
.flex.wrap{
    flex-wrap: wrap;
}
.os-grid{
    max-width: var(--grid-width);
    margin: 0 auto;
}
a{
    text-decoration: none;
    color:var(--white)
}
.container{
    padding:10px 5%;
}
.line{
    height: 2px;
    background-color: var(--primary);
    width: 10%;
    display: block;
    margin:20px auto;
}
/* BUTTONS */
.btn{
    display: block;
    margin:50px 0;
    width: fit-content;
    padding:14px 50px;
    color:var(--white);
    border-radius: var(--btn-radius);
    transition: background 0.2s ease-in;
    border:1px solid var(--primary);
    cursor: pointer;
    font-size:1rem;
    text-align: center;
}
.btn-empty:hover{
    background: var(--primary);
}
.btn-filled{
    background: var(--primary);
}
.btn-filled:hover{
    background: transparent;
}
.burgerbtn{
    height: 20px;
    width: 26px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}
.burgerbtn span{
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: var(--white);
    transition:all 0.2s ease-out;
}
.burgerbtn span:nth-child(1){
    transform-origin: top left;
    top:0;
}
.burgerbtn span:nth-child(2){
    top:calc(10px - 1.5px);
}
.burgerbtn span:nth-child(3){
    transform-origin: left bottom;
    bottom:0;
}
.burgerbtn.active-menu span:nth-child(1){
    rotate:var(--burger-rotate);
}
.burgerbtn.active-menu span:nth-child(2){
    opacity: 0;
}
.burgerbtn.active-menu span:nth-child(3){
    rotate:calc(-1 * var(--burger-rotate));
}
.burgerbtn{
    display: none;
}
/* -------HEADER SECTION ------- */
header{
    width: 100%;
    height: 100vh;
    background-image:url(images/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
header .logo{
    width: 180px;
}
header .developer{
    font-size: 2rem;
    font-weight: 600;
    color:transparent;
    position: relative;
    overflow: hidden;
}
header .developer::before{
    content: 'Frontend Developer';
    position: absolute;
    color:var(--primary);
    left:-350px;
    top:0;
    -webkit-text-stroke: 1px var(--background);
    text-stroke: 1px var(--background);
    width: 100%;
    height: 100%;
    animation: moving 0.5s 0.2s  linear forwards;
}
@keyframes moving {
    0%{
        left: -330px;
    }
    100%{
        left: 0;
    }
}
/* ---navigation------- */
#navmenu{
    transition:right 0.3s ease-in-out;
}
#navmenu li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
}
#navmenu li a{
    color:var(--white);
    text-decoration: none;
    font-size:1em;
    position: relative;
}
#navmenu li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--primary);
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.2s ease-in;
}
#navmenu li a:hover::after{
    width: 100%;
}
.header-text{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size:1em;
    width: 50%;
}
.header-text h1{
    font-size: 5rem;
    line-height: 90px;
}
.header-text h1 span{
    color:var(--primary)
}
.header-buttons{
    display: flex;
}
.header-buttons > div:not(:last-child), .header-buttons > a:not(:last-child){
    margin-right:20px;
}
.header-buttons > a{
    margin:20px 0;
}
/*---------- ABOUT SECTION ----------> */
#about{
    padding:80px 0;
    color:var(--secondary);
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 .img-content{
    position: relative;
    width: 100%;
    float: right;
    overflow: hidden;
}
.about-col-1 img{
    max-width: 80%;
    height: auto;
    border-radius: 50%;
    float: right;
}
.about-col-1 .circle-spin{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
    border-left: .2rem solid var(--primary);
    border-right: .2rem solid var(--primary);
    animation: spinning 20s infinite linear ;
}
@keyframes spinning {
    from{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.about-col-2 {
    flex-basis: 60%;
}
h2.subtitle{
    font-size: 2.5rem;
    font-weight: 600;
    color:var(--white)
}
.tab-titles{
    margin:20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size:1em;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links:hover::after{
    width: 50%;
}
.tab-links:last-child{
    margin-right: 0px;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color:var(--primary) ;
    position: absolute;
    left:0;
    bottom:-8px;
    transition: 0.5s;
}
.tab-links.active-link:after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}
.tab-contents ul li span{
    color:var(--primary);
    font-size: 0.8em;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* ---------- SERVICES ------------ */
#services{
    width: 100%;
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 5px 0px;
}
.services-bg{
    position: absolute;
    z-index: 0;
    inset: 0;
    width: 100%;
    background-image: url(images/skills-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(0.9);
    opacity: 0.1;
}
#services .column{
    text-align: center;
    position: relative;
    overflow: hidden;
}
#services .column p{
    font-size: 0.75em;
    max-width: 65%;
    text-align: center;
    margin: 0 auto;
    padding-bottom:20px;
}
#services h2{
    font-size:1.5em;
    display: inline-block;
    padding-top: 40px;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    z-index: 1;
}
#services h2::before, #services h2::after{
    position: absolute;
    content: 'Check out some of my skills';
    display: inline-block;
    text-transform: uppercase;
    scale: 2.5;
    color: transparent !important;
    white-space: nowrap;
    letter-spacing: 1px;
}
#services h2::before{
    z-index: -1;
    color: var(--background-sec) !important;
    line-height: unset;
    opacity: 0.5;
}
#services h2::after{
    -webkit-text-stroke: 1px var(--white);
    opacity: 0.25;
    left: 0;
    z-index: -2;
    height: unset;
    width: unset;
    background-color: unset;
    bottom: unset;
}
.services-items{
    margin-top:30px;
    padding-bottom:20px;
}
.services-item{
    flex-basis: 25%;
}
.services-item h3{
    font-size:1em;
    margin:20px 0 10px 0;
    text-transform: uppercase;
}
.services-item p{
    line-height: 2;
}
.services-item .item-img{
    background-color: var(--primary);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}
.services-item .item-img img{
    width: 50px;
    height: 50px;
    opacity: 0.9;
    transition:rotate 0.4s ease-in-out ;
}
.services-item .item-img:hover img{
    rotate: 360deg;
}
/* ---------- HOBBY ------------ */
#hobby{
    margin:80px 0 ;
}
.hobby-left{
    flex-basis: 45%;
    padding-right: 80px;
}
.hobby-right{
    flex-basis: 45%;
}
.hobby-left p{
    font-size:0.7em;
    margin-bottom:15px;
    text-align: justify;
}
.hobby-left h2.subtitle{
    font-size:1rem;
    color:var(--primary);
    letter-spacing: -1px;
    line-height: 1.1;
}
.hobby-left h2 span{
    color:var(--white);
    font-size:2em;
    letter-spacing: 0px;
}
.hobby-left .line{
    display: inline-block;
    width: 40%;
}
.hobby-right img{
    max-width: 500px;
}
.hobby-left .arrow img{
    width: 100%;
    height: 80px;
}
.hobby-left .arrows{
    margin-left:-30px;
}
.hobby-left .arrows > .arrow{
    margin-right: -60px;
}
.hobby-left .arrow > img:first-child{
    margin-right: -70px;
}
.hobby-left .arrow:nth-child(1){
    opacity: 0.2;
    animation: arrowmove 3s 0.2s infinite;
}
.hobby-left .arrow:nth-child(2){
    opacity: 0.4;
    animation: arrowmove 3s 0.4s infinite;
}
.hobby-left .arrow:nth-child(3){
    opacity: 0.6;
    animation: arrowmove 3s 0.6s infinite;
}
.hobby-left .arrow:nth-child(4){
    opacity: 0.8;
    animation: arrowmove 3s 0.8s infinite;
}
.hobby-left .arrow:nth-child(5){
    opacity: 1;
    animation: arrowmove 3s 1s infinite;
}
@keyframes arrowmove {
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}
/* ---------- PORTFOLIO ------------ */
#portfolio{ 
    position: relative;
}
.portfolio-left-bg,.portfolio-right-bg{
    position: absolute;
    height: 100%;
    z-index: -1;
}
.portfolio-left-bg{
    background-color: var(--background-sec);
    width: 40%;
    top:0;
    left:0;
}
.portfolio-right-bg{
    background-color: var(--primary);
    width: 60%;
    top:0;
    right:0;
}
#portfolio .container{
    position: relative;
}
.portfolio-left{
    flex-basis: 45%;
}
.portfolio-right{
    flex-basis: 45%;
}
.portfolio-right p{
    color:var(--background-sec);
}
.portfolio-left .items{
    gap:5%;
    flex-wrap: wrap;
}
.portfolio-left .item{
    padding:5px;
    position: relative;
    background-color: var(--white);
    flex-basis: 45%;
}
.portfolio-left .item-img img{
    max-width: 100%;
    background-size: cover;
}
.portfolio-left .item-desc{
    color:var(--background-sec);
}
.portfolio-left .item-icon{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 45px;
    height: 45px;
    background-color: var(--primary);
}
.portfolio-left .item-icon img{
    width: 100%;
    height: auto;
}
.portfolio-left .item-desc h3{
    margin:20px 0;
}
.portfolio-left .item-desc p{

}


/* ------------ CONTACT ------------ */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left .links a{
    transition:color 0.1s ease-in;
}
.contact-left .links a:hover{
    color:var(--primary)
}
.contact-left .links a:hover img{
    transform: translateY(-5px);
}
.contact-left p{
    margin-top:20px;
}
.contact-left p img{
    width: 25px;
    height: 25px;
}
.contact-left img{
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
    margin-right: 10px;
}
.contact-left .social-icons img:hover{
    filter: invert(40%) sepia(87%) saturate(4098%) hue-rotate(2deg) brightness(106%) contrast(104%);
    transform: translateY(-5px);
}
.contact-left .social-icons{
    margin-top:20px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border:0;
    outline: none;
    background: var(--background-sec);
    padding:15px;
    margin:15px 0;
    color:var(--white);
    font-size:1em;
    border-radius:6px;
    resize: none;
}
form .btn-filled{
    margin-top:15px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding:20px 0;
    background: var(--background-sec);
    font-weight: 300;
    margin-top:20px;
    font-size: 0.7em;
}

/* --------------- RWD ---------------- */
@media only screen and (min-width:1400px){
    header{
        background-size: contain;
        position: relative;
        z-index: 2;
    }
    .header-bg{
        position: absolute;
        z-index: -2;
        top:0;
        left:0;
        width: 100%;
        height: 100vh;
        background:var(--background);
        background-image: url(images/background-behind.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
}

@media only screen and (max-width:1024px){
    .header-text{
        width: 60%;
    }
    .about-col-1 img{
        max-width: 100%;
    }
    .about-col-1 .circle-spin{
        left:50%;
        width: 100%;
    }
    nav .burgerbtn{
        display: block;
    }
    #navmenu{
        background-color: var(--primary);
        position: fixed;
        top:0;
        right:-200px;
        width: 200px;
        height: 100vh;
        padding-top: 40px;
        z-index: 1;
    }
    #navmenu li{
        display: block;
        margin:25px;
    }
    .services-item{
        flex-basis: 50%;
    }
    .hobby-left{
        padding-right: 0;
        order:2;
    }
    .hobby-right{
        order:1;
        padding-bottom:20px;
    }
    .hobby-left,.hobby-right{
        flex-basis: 100%;
    }
    .hobby-right img{
        max-width: unset;
        width: 100%;
        max-height: 450px;
    }
    #hobby{
        margin:40px 0 ;
    }
}
@media only screen and (max-width:680px) {
    .line{
        width: 50%;
    }
    header{
        background-color:var(--background);
        background-image: url(images/phone-background.jpg);
        position: relative;
    }
    .header-text{
        position: absolute;
        bottom:20px;
        left:20px;
        right: 20px;
        font-size:1rem;
        width: calc(100% - 40px);
        transform: none;
        top:unset;
    }
    .header-text p.developer{
        font-size:1.5em;
    }
    .header-buttons{
        flex-wrap: wrap;
    }
    .header-buttons a{
        width: 100%;
        margin:15px 0 0 0;
    }
    .header-buttons > div:not(:last-child), .header-buttons > a:not(:last-child){
        margin-right: 0;
    }
    .header-text h1{
        font-size: 3rem;
        line-height: 50px;
    }
    .header-text p{
        font-size: 1em;
    }
    h2.subtitle{
        font-size:2rem;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:30px;
    }
    .about-col-2{
        font-size:0.8em;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-left a{
        font-size:0.8em;
    }
    .copyright{
        font-size:0.6em;
    }
    .tab-links:not(:last-child){
        margin-right: 30px;
    }
    .tab-links:last-child{
        margin-right: 0px;
    }
    .about-col-1 .img-content{
        display: flex;
        justify-content: center;
    }
    .about-col-1 .circle-spin{
        left:50%;
    }
    .services-item{
        flex-basis: 100%;
    }
    #services h2{
        font-size:0.85em;
    }
}
#msg{
    color:var(--white);
    margin-top:-40px;
    display: block;
    font-size:0.8em;
}
#msg.successfull{
    color:#2aaa45;
}
#msg.error{
    color:#cc2a24;
}